# Eclipse
.classpath
.project
.wtpmodules
.settings/

# Intellij
.idea/
*.iml
*.ipr
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Dependencies
lib/

# Scripts
*.histo
*.jstacks
*.log
scripts/outputs/

# Tools
/tools/